.logo {
    font-size: 56px;
    font-weight: 400;
    
    &__header {
        color: $primary-color;
        font-weight: 500;
        margin-left: 20px;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
        padding-top: 48px;
    }

}