.navBar {
    float: right;
    font-size: 12px;
    line-height: 12px;
    margin-right: 20px;
    font-weight: 500;
    margin-top: 12px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        @media (min-width:$breakpoint-tablet) {
            text-transform: capitalize;
        }
    }
    a:first-child {
        margin-right: 26px;
        
    }

    

}

.activeNavbar {
    color: $primary-color;
}

.activeNavbar.active {
    text-decoration: underline;

}