.navBar {
    float: right;
    font-size: 12px;
    line-height: 12px;
    margin-right: 20px;
    font-weight: 500;
    margin-top: 12px;

    a {
        text-decoration: none;
        color: $primary-color;
    }

    a:first-child {
        margin-right: 26px;
        

    }
}