.banner {
    position: relative;
    margin: 20px 20px 0 20px;
    border-radius: 10px;

    &::after {
        content: "";
        height: calc(100% - 3px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 1;
        box-sizing: border-box;
        border-radius: 10px;
    }

}


