.collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    background-color: $primary-color;
    border-radius: 5px;

    &__title {
        margin-left: 10px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: white;
    }

    &__arrowUp {
        margin-right: 20px;
        color: white;
        transition: transform 0.3s ease-in-out;

    }
}

.collapse__arrowUp.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }

.content {
    background-color: #F7F7F7;
    border-radius: 0px 0px 5px 5px;

    &__inner {
        padding: 8px;
        line-height: 24px;
        color: $primary-color;

    }
}


