.logement {
    margin: 0 20px;

    &__content {
        margin: 0 auto;
        max-width: 1400px;
        

    }
    
    &__picture {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        min-height: 255px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title {
        margin-top: 16px;
        max-width: 335px;

    }

    h2 {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: $primary-color;
    }

    &__location {
        margin-top: 5px;
        max-width: 325px;
    }

    h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $primary-color;
    }

    &__tag {
        display: inline-flex;
        flex-direction: row;
        padding: 5px 30px;
        background-color: $primary-color;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color: white;

        &__tag:last-child {
            margin-right: 0;
        }
    }
}

.fa-star {
    color: $primary-color;
}

.withoutRating {
    color: #E3E3E3;
}

.ratingAndName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    
}



.nameAndPicture {
    display: inline-flex;
    align-items: center;

    &__name {
        margin-right: 10px;
        color: $primary-color;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
    }

    &__picture {
        max-width: 32px;
        max-height: 32px;
        border-radius: 50%;
    }
}